source ~/.vimrc

nmap <leader>h :action ShowHarpoon<cr>
nmap <leader>a :action AddToHarpoon<cr>

nmap <C-1> :action GotoHarpoon1<cr>
nmap <C-2> :action GotoHarpoon2<cr>
nmap <C-3> :action GotoHarpoon3<cr>
nmap <C-4> :action GotoHarpoon4<cr>


vnoremap v <Nop>
vnoremap V <Nop>

vmap v <Action>(EditorSelectWord)
vmap V <Action>(EditorUnSelectWord)


Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
