source ~/.vimrc

nmap <leader>h :action HarpoonerToggleQuickMenu<cr>
nmap <leader>a :action HarpoonerAddFile<cr>

nmap <C-1> :action HarpoonerOpenFile0<cr>
nmap <C-2> :action HarpoonerOpenFile1<cr>
nmap <C-3> :action HarpoonerOpenFile2<cr>
nmap <C-4> :action HarpoonerOpenFile3<cr>

vnoremap v <Nop>
vnoremap V <Nop>

vmap v <Action>(EditorSelectWord)
vmap V <Action>(EditorUnSelectWord)

nmap <Leader>ff <Action>(GotoFile)
nmap <Leader>fg <Action>(FindInPath)

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'machakann/vim-highlightedyank'
